.wave {
  color: #62bcc4;
  padding-top: calc((100% - 1127px) / 2);
  height: 7em;
  box-sizing: content-box;
  background: currentColor;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.wave svg {
  display: block;
  position: relative;
  top: calc(7em - 1px);
}

.page {
  box-shadow: 0 10px 100px 0 rgba(98, 188, 196, 0.1);
  border-radius: 3em;
}

.page:hover {
  box-shadow: 0 10px 100px 0 rgba(98, 188, 196, 0.3);
}

.avatar {
  border-radius: 50%;
}

.divider.fat {
  border-top: 0.3571428571428571em solid rgba(98, 188, 196, 1);
  width: 61%;
}

.contacts li a.twitter:hover {
  color: #38a1f3;
}

.contacts li a.instagram:hover {
  color: #eb5e98;
}

li.highlighted {
  background: rgba(98, 188, 196, 0.2);
}

.gif {
  width: 48%;
  position: absolute;
  right: 0;
}
