body {
  height: 20em;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  text-align: center;
}

a {
  font-weight: 600;
  white-space: nowrap;
}

