body {
    height: 20em;
    font-max-size: 24px;
    color: rgba(0, 0, 0, 0.87);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    text-align: center;
}

a {
    font-weight: 600;
    white-space: nowrap;
}
